.card-product{
    height: 570px;
    margin-top: 2%;
}

.card-product-img{
    padding-top: 5%;
}

.card-product-text{
    padding-top: 5%;
}
.page-link{
    color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity))!important;
}

.pagination{
    --bs-pagination-hover-bg: #9ca4aa;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #6c757d;
    --bs-pagination-active-border-color: #6c757d;
    color: #fff;
}

.cart-container{
    position: relative;
}

.cart{
    position: absolute;
    background-color: #f8f9fa;
    width: 300px;
    height: 100px;
    left: 15px;
    visibility: hidden;
}

.img-card-product-detail{
    text-align: center;
    margin-top: 40px;
    width: 450px;
    height: 450px;
}

.text-card-product-detail{
    position: relative;
    margin-top: 90px;
}

.text-card-product-detail-down{
    position: absolute;
    background-color: #f1f1f6;
    padding: 20px;
    border-radius: 5px;
}

.btn-product-detail{
    margin-top: 20px;
}

.counter-wrapper {
	display: flex;
    align-items: center;
}

.count_control_minus{
    width: 25px;
    background-color: white;
    text-align: center;
    border-radius: 8px 0 0 8px;
}

.count_control_plus{
    width: 25px;
    background-color: white;
    text-align: center;
    border-radius: 0 8px 8px 0;
    margin-right: 10px;
}

.count{
    width: 25px;
    background-color: white;
    text-align: center;
}

