.card-product{
    height: 570px;
    margin-top: 2%;
}

.card-product-img{
    padding-top: 5%;
}

.card-product-text{
    padding-top: 5%;
}
.page-link{
    color: rgba(var(--bs-secondary-rgb),var(--bs-border-opacity))!important;
}

.pagination{
    --bs-pagination-hover-bg: #9ca4aa;
    --bs-pagination-active-color: #fff;
    --bs-pagination-active-bg: #6c757d;
    --bs-pagination-active-border-color: #6c757d;
    color: #fff;
}

.cart-container{
    position: relative;
}

.cart{
    background-color: #f8f9fa;
    border: 1px solid lightgrey;
    width: 300px;
    height: 100px;
    left: 15px;
    position: absolute;
    visibility: hidden;
}