<nav class="bg-light fixed-top">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="/">Домой</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/">Товары</a>
      </li>
      <li class="nav-item">
        <div id="button">
          <a class="nav-link" href="#">Корзина</a>
          <div class="cart-container">
              <ul class="cart" id="cart">
                <li>
                  cart
                </li>
                <li>
                  cart
                </li>
              </ul>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Войти</a>
      </li>
      
    </ul>
</nav>